<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="/webjars/jquery/3.7.1/jquery.min.js"></script>

<link rel="stylesheet" href="/css/index.css">
<link href="/css/detail.css" rel="stylesheet">
</head>
<body>
	<div th:replace="~{/fragments/header.html :: fragment-menu}"></div>
	<h1 align="center">디테일 폼 화면</h1>
	
		<div>
		<table align="center" class="detailTable">
			<tr>
				<td>제목</td>
				<td>[[${board.title}]]</td>
			</tr>
			<tr>
				<td>작성자</td>
				<td>[[${board.writer}]]</td>
			</tr>
			<tr>
				<td>내용</td>
				<td><textarea rows="10" cols="50" readonly>[[${board.content}]]</textarea></td>
			</tr>
			<tr>
				<td>작성일</td>
				<td th:text="*{#temporals.format(board.createDate, 'yyyy-MM-dd')}"></td>
			</tr>
			<tr>
				<td>조회수</td>
				<td>[[${board.count}]]</td>
			</tr>
		</table>
		
		<!-- 댓글 -->
		<table align="center" class="detailTable">
			<thead>
				<tr>
					<th>댓글작성</th>
					<span th:if="${loginUser != null}">
						<th><textarea cols="30" rows="3" id="replyContent"></textarea></th>
						<th><input type="button" id="insertReply" value="댓글등록"></th>
					</span>
					<th th:unless="${loginUser != null}" colspan="2">로그인 후 댓글을 작성할 수 있습니다.</th>
				</tr>
				<tr>
					<th>작성자</th>
					<th>내용</th>
					<th>작성일</th>
				</tr>
			</thead>
			<tbody id="replylist">
				<tr th:each="r : ${reply}">
					<td>[[${r.writer}]]</td>
					<td>[[${r.content}]]</td>
					<td th:text="*{#temporals.format(board.createDate, 'yyyy-MM-dd')}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<script>
		$(() => {
			$('#insertReply').on('click', function(){
				$.ajax({
					url: "rInsert",
					type: "post",
					data: {
						refBno :"[[${board.bno}]]" ,
						content : $('#replyContent').val() ,
						writer : "[[${loginUser != null ? loginUser.id : ''}]]"
					},
					success: function(result){
						console.log(result);
						let list = "";
						$.each(result, function(index, value) {
							list += '<tr>'
								+ '		<td>' + value.writer + '</td>'
								+ '		<td>' + value.content + '</td>'
								+ '		<td>' + value.createDate.substring(0,10) + '</td>'
								+ '</tr>'
						});
						$('#replylist').html(list);
						$('#replyContent').val("");
						
						
					},
					error : function() {
						console.log('댓글 등록 실패');
					}
				})
			});
		})
	</script>
	<!--
	글번호 : [[${board.title }]]<br><br>
	작성자 : [[${board.writer }]]<br><br>
	내용 : [[${board.content }]]<br><br>	
	날짜 : [[${board.createDate }]]<br><br>
	-->
</body>
</html>