a {
    text-decoration: none;
    color: black;
}
.nav-area {
    width: 100%;
    background-color: darkslategrey;
    text-align: center;
    color: white;
    height: 45px;
}
.nav-area td {
	width: 25%;
	font-size: 20px;
}
.nav-area td:hover {
	background-color: rgb(64, 128, 128);
	cursor: pointer;
}
.imgwrap{
	text-align: center;
}
